{% extends "base.html" %}
{% block title %}Login • UoNSDA Missionaries{% endblock title %}
{% block content %}
  <h1>User Login</h1>
  <form action="{% url 'login-page' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Log In</button>
  </form>
{% endblock content %}
{% comment %} {% extends "base.html" %}
{% block title %}Login•UoNSDA Missionaries{% endblock title %}
{% block content %}
<h2>Login<h2>
{% if error_message %}
<p>{{error_message}}</p>
{% endif %}
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <button type="submit">Login</button>
</form>

{% endblock content %} {% endcomment %}