{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UoNSDA Missionaries{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav class="navbar">
        <div><a href="#">Welcome</a></div>
        <div class="nav-links">
            <a href={% url "start-page" %}>Home</a>
            <a href={% url "contacts-page" %}>Contact</a>
            <a href={% url "about-page" %}>About</a>
        </div>
        <form class="search-form" role="search">
            <input type="search" placeholder="Search" aria-label="Search">
            <button type="submit">Search</button>
        </form>
    </nav>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="cta">
            <span>Register for free</span>
            <a href={% url 'sign-up-page' %}>Sign up!</a>
        </div>
        <div class="copyright"> Copyright &copy;
            <span class="copyright-year"></span>
            <a href={% url "start-page" %}>UoNSDA Missions</a>
        </div>
    </footer>
    <script src="{% static 'js/copyright.js' %}"></script>
</body>
</html>
