{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Welcome to UoNSDA Missionaries</h1>
    <p>
    {% if user.is_authenticated and user.is_staff %}
    <a href={% url 'upload-excel-page' %}>Sort Missionaries</a>
    <a href={% url 'registration-page' %}>Register</a>
    <a href={% url 'random-groups-page' %}>Group Missionaries From DB</a>
    <a href={% url 'display-excel-data-page' %}>Group Missionaries From Excel Sheet</a>
    
    {% elif user.is_authenticated and not user.is_staff %}
    <a href={% url 'registration-page' %}>Register</a>
    
    {% else %}
    <a href={% url 'login-page' %} >Log In</a>
    {% endif %}
    
    </p>
</div>

{% endblock content %}